html,
body {
  background-color: #92d36e;
}

#viewDiv {
  padding: 0;
  margin: 50px;
  border-width: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  touch-action: pan-x pan-y;
}

#container {
  padding: 20pt;
}

.navbar li.nav-item {
  color: #fff;    
}