/* html,
body, */

body {
  background-color: #92d36e;
  color: #4c82d6;
  align-items: center;
  /* background: url('Logo.jpeg'); */
  /* min-height:100vh;
  opacity:0.1;
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(#92d36e, transparent);
  mask-image: linear-gradient(#92d36e, transparent);
  border-radius: 15px 50px; */
}
h1 {
  text-align: center;
}

/* NAVBAR */

.navbar-expand-lg .navbar-nav .nav-link {
  text-decoration: none;
  color: whitesmoke;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.btn {
  color: whitesmoke;
  background-color: #92d36e;
}


/* LOGIN */

#logo-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#viewDiv {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
}

#container {
  padding: 20pt;
  margin: 0pt 250pt;
  align-items: center;
}

.btn {
  color: #4c82d6;

}

.navbar {
  color:whitesmoke;
  text-decoration: none !important;
  background-color: #4c82d6;
  }
